__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
*.egg
*lock
.env
.venv
venv/
runs/
*.mp4
*.wav
*.png
*.jpg
*.srt
.pytest_cache/
.coverage
.ruff_cache/
*.log
.DS_Store
*.swp
*~
nohup.out
.aim/
*sqlite
aim/
assets/
.mypy_cache/
.vscode/
.idea/
secret/
models/
wandb/
.ipynb_checkpoints/
